<div class="container-fluid p-4">
  <div class="row mb-5">
    <div class="col-7"></div>
    <span class="col-1 pt-2" style="font-weight: 500; font-size: larger"
      >Search :</span
    >
    <div class="col-4">
      <input
        type="text"
        class="form-control-plaintext filedSerch search-row"
        [class.dark-mode]="isDarkMode"
      />
    </div>
  </div>
  <div
    class="row text-center rounded-4 p-3 my-3 table-header"
    style="box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.468)"
    [class.dark-mode]="isDarkMode"
  >
    <span class="col-1 th-lable">Date</span>
    <span class="col-1 th-lable">Program</span>
    <span class="col-2 th-lable">Name</span>
    <span class="col-1 th-lable">Contact No</span>
    <span class="col-1 th-lable">Age</span>
    <span class="col-1 th-lable">Edu. Background</span>
    <span class="col-1 th-lable">Lead Stage</span>
    <span class="col-1 ms-1 th-lable">Remarks</span>
    <div class="col-3 th-lable"></div>
  </div>

  <div
    class="row text-center rounded-4 py-2 mt-2 table-data-set2"
    [class.dark-mode]="isDarkMode"
  >
    <span class="col-1 table-td">2023-01-29</span>
    <span class="col-1 table-td">ICM</span>
    <span class="col-2 table-td">Kamal Wickramaarachchi</span>
    <span class="col-1 table-td">0779911825</span>
    <span class="col-1 table-td">22</span>
    <span class="col-1 table-td">Undergraduate</span>
    <span class="col-1 table-td">
      <div class="bar-container" [class.dark-mode]="isDarkMode">
        <div class="bar"></div>
      </div>
      <span>100%</span>
    </span>
    <span class="col-1 table-td">Remarks</span>
    <div class="col-1 table-td">
      <button
        type="button"
        class="btn btn-primary rounded-5"
        style="width: 80px"
      >
        View
      </button>
    </div>
    <div class="col-2 table-td">
      <button type="button" class="btn btn-success rounded-5">
        Move To Waiting List
      </button>
    </div>
  </div>

  <div
    class="row text-center rounded-4 py-2 mt-2 table-data-set1"
    [class.dark-mode]="isDarkMode"
  >
    <span class="col-1 table-td">2023-01-29</span>
    <span class="col-1 table-td">ICM</span>
    <span class="col-2 table-td">Kamal Wickramaarachchi</span>
    <span class="col-1 table-td">0779911825</span>
    <span class="col-1 table-td">22</span>
    <span class="col-1 table-td">Undergraduate</span>
    <span class="col-1 table-td">
      <div class="bar-container" [class.dark-mode]="isDarkMode">
        <div class="bar"></div>
      </div>
      <span>100%</span>
    </span>
    <span class="col-1 table-td">Remarks</span>
    <div class="col-1 table-td">
      <button
        type="button"
        class="btn btn-primary rounded-5"
        style="width: 80px"
      >
        View
      </button>
    </div>
    <div class="col-2 table-td">
      <button type="button" class="btn btn-success rounded-5">
        Move To Waiting List
      </button>
    </div>
  </div>

  <div
    class="row text-center rounded-4 py-2 mt-2 table-data-set2"
    [class.dark-mode]="isDarkMode"
  >
    <span class="col-1 table-td">2023-01-29</span>
    <span class="col-1 table-td">ICM</span>
    <span class="col-2 table-td">Kamal Wickramaarachchi</span>
    <span class="col-1 table-td">0779911825</span>
    <span class="col-1 table-td">22</span>
    <span class="col-1 table-td">Undergraduate</span>
    <span class="col-1 table-td">
      <div class="bar-container" [class.dark-mode]="isDarkMode">
        <div class="bar"></div>
      </div>
      <span>100%</span>
    </span>
    <span class="col-1 table-td">Remarks</span>
    <div class="col-1 table-td">
      <button
        type="button"
        class="btn btn-primary rounded-5"
        style="width: 80px"
      >
        View
      </button>
    </div>
    <div class="col-2 table-td">
      <button type="button" class="btn btn-success rounded-5">
        Move To Waiting List
      </button>
    </div>
  </div>
</div>
