<div class="container-fluid pt-5 px-5">
    <table class="styled-table col-12">
      <thead>
        <tr [class.dark-mode]="isDarkMode">
          <th>Student Name</th>
          <th>Type</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody style="align-content: center" [class.dark-mode]="isDarkMode">
        <tr>
          <td>Sithum</td>
          <td>
            <div>
              <i class="bi bi-telephone"></i>
              <span>Income</span>
            </div>
          </td>
          <td s>6000</td>
          <td s>Dom</td>
        </tr>
        <tr>
          <td s>Sithum</td>
          <td s>
            <div>
              <i class="bi bi-telephone"></i>
              <span>Income</span>
            </div>
          </td>
          <td s>6000</td>
          <td s>Dom</td>
        </tr>
        <tr [class.dark-mode]="isDarkMode">
          <td s>Sithum</td>
          <td s>
            <div>
              <i class="bi bi-telephone"></i>
              <span>Income</span>
            </div>
          </td>
          <td s>6000</td>
          <td s>Dom</td>
        </tr>
      </tbody>
    </table>
  </div>
  